/* 
Properties order:
1. Position: static, absolute, relative, fixed
2. Box model: margin, padding, border, content
3. Font: font-style, font-size
4. Visual styles: box-shadow, border-radius, gradient
5. Miscellaneous: other
*/

:root{
    /* Colors */
    --bitcoin-orange: #F7931A;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
    --linear-bg: linear-gradient(207.8deg, var(--black) 16.69%, var(--bitcoin-orange) 100%);
    --background: #E5E5E5;
    /* Fonts */
    --primary-font: 'DM Sans', sans-serif;
    --secondary-font: 'Inter', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: var(--primary-font);
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 32rem;
    height: 33.4rem; /* 334px */
    text-align: center;
    background: var(--linear-bg);
}

header img{
    align-self: center;
    width: 15rem;
    height: 2.4rem;
    margin-top: 6rem;
}

.header--title-container{
    align-self: center;
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    height: 21.8rem;
    margin-top: 4rem;
    /* text-align: center; */
}

.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p{
    margin-top: 2.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button{
    position: absolute;
    top: calc(100% - 2.4rem);
    left: calc(50% - 11.5rem);
    /* top: 27rem; */
    /* margin-top: 3.5rem; */
    display: block;
    padding: 1.5rem;
    width: 22.9rem;
    height: 4.8rem;
    background-color: var(--off-white);
    /* Shadow */
    box-shadow: 0rem .4rem .8rem rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: .5rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);

}

.header--button span{
    display: inline-block;
    width: 1.3rem;
    height: .8rem;
    margin-left: 1rem;
    background-image: url('../assets/icons/down-arrow.svg');
}

main{
    width: 100%;
    min-width: 32rem;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 3rem;
    text-align: center;
}

.main-exchange-container .backgroundImg{
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    background-image: url('../assets/img/bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container--title{
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    margin: 0 auto;
}

.main-exchange-container--title h2{
    margin-bottom: 3rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container--title p{
    margin-bottom: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.main-currency-table, .main-commissions-table{
    width: 70%;
    min-width: 23.5rem;
    max-width: 50rem;
    height: 36rem;
    margin: 0 auto;
    font-family: var(--secondary-font);
}

.main-currency-table .currency-table--title{
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.main-commissions-table .commissions-table--title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secondary-blue);
}

.currency-table-container, .commissions-table-container{
    width: 90%;
    min-width: 23rem;
    max-width: 30rem;
    height: 25rem;
    margin: 0 auto;
    /* background-color: #fff; */
    border-radius: 15px;
}

.currency-table-container table, .commissions-table-container table{
    width: 100%;
    height: 100%;
}

.currency-table-container td, .commissions-table-container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.currency-table-container .table__top-left,
.commissions-table-container .table__top-left{
  border-radius: 1.5rem 0 0 0;
}
.currency-table-container .table__top-right,
.commissions-table-container .table__top-right{
  border-radius: 0 1.5rem 0 0;
}
.currency-table-container .table__bottom-left,
.commissions-table-container .table__bottom-left{
  border-radius: 0 0 0 1.5rem;
}
.currency-table-container .table__bottom-right,
.commissions-table-container .table__bottom-right{
  border-radius: 0 0 1.5rem 0;
}

.currency-table-container .table__right,
.commissions-table-container .table__right{
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}

.currency-table-container .up {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    background-image: url("../assets/icons/trending-up.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  .currency-table-container .down {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    background-image: url("../assets/icons/trending-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--date {
    width: max-content;/* 19rem */
    height: 3.1rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    padding: .8rem;
    background-color: var(--soft-orange);
    border-radius: .8rem;
}

.commissions-table--date{
    width: max-content;/* 19rem */
    height: 3.1rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    padding: .8rem;
    background-color: var(--soft-blue);
    border-radius: .8rem;
}

.currency-table--date p, .commissions-table--date p{
    margin: .7rem;
    font-size: 1.2rem;
    line-height: 0.15rem;
    color: var(--warm-black);
}

.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 32rem;
    height: auto;
    padding: 2rem 1rem;
    background-color: var(--black);
}

.product-detail--batata-logo {
    position: absolute;
    width: 4rem;
    height: 2.5rem;
    top: -1.3rem;
    left: calc(50% - 2rem);
    background-image: url("../assets/icons/batata.svg");
}

.product-detail--title {
    width: 90%;
    min-width: 28.8rem;
    height: auto;
    margin: 0 auto;
    margin-top: 5rem;
    text-align: center;
}

.product-detail--title h2 {
    margin-bottom: 2rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail--title p {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-detail--card {
    width: 90%;
    min-width: 28.8rem;
    max-width: 40rem;
    height: 15.2rem;
    margin: 1.5rem auto;
    padding: 1.5rem;
    background-color: var(--warm-black);
    box-shadow: 0px .4rem .8rem rgba(0, 0, 0, 0.16);
    border-radius: .4rem;
}

.product-detail--card .icon-card {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.clock {
    background-image: url('../assets/icons/clock.svg');
}

.eye {
    background-image: url('../assets/icons/eye.svg');
}

.dolar {
    background-image: url('../assets/icons/dollar-sign.svg');
}

.circle {
    background-image: url('../assets/icons/check-circle.svg');
}

.product-card-title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product-card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.bitcoin-img-container {
    width: 100%;
    min-width: 32rem;
    height: 50vh;
    background-image: url("../assets/img/bitcoinbaby2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.bitcoin-img-container h2 {
    padding-top: 6rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.main-plans-container {
    width: 100%;
    min-height: 32rem;
    padding-bottom: 7rem;
    text-align: center;
}

.main-plans-container h2 {
    padding-top: 5rem;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-plans-container p {
    padding-top: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans-container--slider {
    display: flex;
    /* gap: 50px; Aun no está soportado por todos los navegadores :( */
    height: 31.6rem;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 23rem;
    max-width: 30rem;
    height: 25rem;
    margin: 5rem 3rem 0;
    padding: 0 1.5rem;
    background-color: var(--just-white);
    border-radius: 1.5rem;
    box-shadow: 0px .4rem .8rem rgba(89, 73, 30, 0.16);
}

.plans-container--card .recommended {
    position: absolute;
    width: 12rem;
    height: 3.1rem;
    left: calc(50% - 6rem);
    top: -1.6rem;
    /* margin: 0; */
    padding: .6rem;
    background-color: var(--bitcoin-orange);
    border-radius: .8rem;
    color: var(--just-white);
}

.plan-card--title {
    padding-top: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}

.plans-container--card .plan-card--price {
    padding: .5rem 0;
    font-size: 5.3rem;
    font-weight: bold;
    line-height: 6.3rem;
    color: black;
}

.plans-container--card .plan-card--saving {
    padding-top: 0;
}

.plan-card--ca {
    width: 15.1rem;
    height: 4.8rem;
    margin-top: 2rem;
    background: var(--off-white);
    border: .2rem solid var(--bitcoin-orange);
    border-radius: .4rem;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
}

.plan-card--ca span {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-image: url("../assets/icons/orange-right-arrow.svg");
    vertical-align: text-bottom;
}

footer {
    display: flex;
    width: 100%;
    height: 15rem;
    background-color: var(--bitcoin-orange);
}

footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

.left li {
    margin: 1rem 0;
}

.left a {
    text-decoration: none;
    color: var(--just-white);
  }