/* 
Properties order:
1. Position: static, absolute, relative, fixed
2. Box model: margin, padding, border, content
3. Font: font-style, font-size
4. Visual styles: box-shadow, border-radius, gradient
5. Miscellaneous: other
*/

:root{
    /* Colors */
    --bitcoin-orange: #F7931A;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
    --linear-bg: linear-gradient(207.8deg, var(--black) 16.69%, var(--bitcoin-orange) 100%);
    --background: #E5E5E5;
    /* Fonts */
    --primary-font: 'DM Sans', sans-serif;
    --secondary-font: 'Inter', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: var(--primary-font);
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 32rem;
    height: 33.4rem; /* 334px */
    text-align: center;
    background: var(--linear-bg);
}

header img{
    align-self: center;
    width: 15rem;
    height: 2.4rem;
    margin-top: 6rem;
}

.header--title-container{
    align-self: center;
    width: 90%;
    min-width: 28.8rem;
    max-width: 90rem;
    height: 21.8rem;
    margin-top: 4rem;
    /* text-align: center; */
}

.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p{
    margin-top: 2.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button{
    position: absolute;
    top: calc(100% - 2.4rem);
    left: calc(50% - 11.5rem);
    /* top: 27rem; */
    /* margin-top: 3.5rem; */
    display: block;
    padding: 1.5rem;
    width: 22.9rem;
    height: 4.8rem;
    background-color: var(--off-white);
    /* Shadow */
    box-shadow: 0rem .4rem .8rem rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: .5rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);

}

.header--button span{
    display: inline-block;
    width: 1.3rem;
    height: .8rem;
    margin-left: 1rem;
    background-image: url('../assets/icons/down-arrow.svg');
}

